@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans&family=Noto+Sans+Miao&family=Rubik+Pixels&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
.sidebar{
    /* background-color: rgb(214, 221, 214); */
    background-color: rgb(134, 243, 126);
    height: 100vh;
    font-family: 'Fira Sans', sans-serif;
    transition: transform 0.3s ease-in;
    position: absolute;
}
.sidebar nav{
    padding: 45px;
}
.sidebar nav li{
    list-style: none;
    font-size: 25px;
    padding: 33px 0;
}
.sidebar nav li a{
    text-decoration: none;
    color: black;
}
.main{
    /* background-color: lavender; */
    width: 90vw;
}
.container{
    display: flex;
}
.infoContainer{
    /* background-color: aqua; */
    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}
.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}

.hello{
    font-size: 65px;
}
.name{
    font-size: 50px;
    font-weight: bold;
    color: rgb(19, 142, 46);
    font-family: 'Fira Sans', sans-serif;
}
.about{
    font-size: 40px;
}
.moreabout{
    margin-top: 23px;
    font-size: 22px;
    font-family: 'Fira Sans', sans-serif;
}
.buttons{
    margin-top: 34px;    
}
.btn{
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    /* background-color: dodgerblue; */
    background-color: rgb(19, 142, 46);
    font-weight: bold;
    font-size: 21px;
    margin: 0 3px;
    cursor: pointer;
}
.btn-sm{
    font-size: 10px;
    padding: 7px 13px;
    margin: 10px 0;
}
.btn:hover{
    background-color: white;
    /* color: dodgerblue; */
    color: rgb(19, 142, 46);
}

.devPic img{
    /* width: 381px; */
    height: 58vh;
}
/* //////////////////////////// */
.contactform{
    padding: 0 34px;
    padding-top: 70px;
    font-family: 'Fira Sans', sans-serif;
    margin: 0 170px;
    
}
.contactform h1{
    font-family: 'Source Code Pro', monospace;
    padding: 12px 0;
}
.contactform form div{
  padding: 10px 0;  
  display: flex;
  flex-direction: column;
}
.contactform form div input{
  width: 26vw;
  border-radius: 5px;
  margin: 6px 0 0 0;
  padding: 3px;
}
#emailHelp{
    font-size: 11px;
    color: mediumseagreen;
    margin: 0 5px;
    padding: 3px 0 0 0;
}
#form-check{
    flex-direction: row;  
}
#form-check input{
    width: 24px;
    margin: 3px 0;
}
.blogItem{
    margin: 20px;
    font-family: 'Fira Sans', sans-serif;
}
/* ///////////////////////////////////// */
.blogContainer{
    padding-top: 70px;
    margin: 0 170px;
}
h1{
    font-family: 'Fira Sans', sans-serif;
    margin: 23px;
}
p{
    font-family: 'Source Code Pro', monospace;
}
.intro{
    padding-top: 70px;
    margin: 0 170px;
}
.intro h2{
    font-family: 'Fira Sans', sans-serif;
    margin: 12px;
}
.intro p{
    font-family: 'Source Code Pro', monospace;
    margin: 12px;
}
.skillcontainer{
    padding: 12px;
}
.skill{
    width: 265px;
    height: 6px;
    background-color: rgb(19, 142, 46);
}
.skillItem{
    font-family: 'Source Code Pro', monospace;
    display: flex;
    font-weight: 900;
    align-items: center;
}
.hundered{
    width: 256px;
}
.fifty{
    width: 212px;
}
.t5{
    width: 75px;
}
.sidebarGo{
    transform: translate(-443px, 0px);
    position: absolute;
}
.hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}
.ham{
    width: 40px;
    margin-left: 5px;
}
.cross{
    margin-left: 155px;
    margin-top: 8px;
}
@media (max-width: 1000px) {
    .devPic{
        display: none;
    }
    /* .buttons{
        font-size: 10px;
    } */
    /* .intro, .blogContainer, .contactform{
        padding-top: 7px;
        margin: 0 17px;
    } */
}